In [3]:
import sqlite3

import pandas as pd

In [4]:
conn = sqlite3.connect("im.db")
df = pd.read_csv('bom.movie_gross.csv')

In [5]:
query1 = """
SELECT *
FROM sqlite_master
WHERE type = 'table';
"""

pd.read_sql_query(query1, conn)

,type,name,tbl_name,rootpage,sql
0,table,movie_basics,movie_basics,2,"CREATE TABLE ""movie_basics"" (\n""movie_id"" TEXT..."
1,table,directors,directors,3,"CREATE TABLE ""directors"" (\n""movie_id"" TEXT,\n..."
2,table,known_for,known_for,4,"CREATE TABLE ""known_for"" (\n""person_id"" TEXT,\..."
3,table,movie_akas,movie_akas,5,"CREATE TABLE ""movie_akas"" (\n""movie_id"" TEXT,\..."
4,table,movie_ratings,movie_ratings,6,"CREATE TABLE ""movie_ratings"" (\n""movie_id"" TEX..."
5,table,persons,persons,7,"CREATE TABLE ""persons"" (\n""person_id"" TEXT,\n ..."
6,table,principals,principals,8,"CREATE TABLE ""principals"" (\n""movie_id"" TEXT,\..."
7,table,writers,writers,9,"CREATE TABLE ""writers"" (\n""movie_id"" TEXT,\n ..."

In [10]:
query2 = """
SELECT *
FROM movie_basics

"""

pd.read_sql_query(query2, conn)

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,None
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [7]:
df.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [11]:
df.to_sql("Revenue", 
          conn, if_exists="replace", index=False)

In [12]:
query4 = """
SELECT *
FROM sqlite_master
WHERE type = 'table';
"""

pd.read_sql_query(query4, conn)

,type,name,tbl_name,rootpage,sql
0,table,movie_basics,movie_basics,2,"CREATE TABLE ""movie_basics"" (\n""movie_id"" TEXT..."
1,table,directors,directors,3,"CREATE TABLE ""directors"" (\n""movie_id"" TEXT,\n..."
2,table,known_for,known_for,4,"CREATE TABLE ""known_for"" (\n""person_id"" TEXT,\..."
3,table,movie_akas,movie_akas,5,"CREATE TABLE ""movie_akas"" (\n""movie_id"" TEXT,\..."
4,table,movie_ratings,movie_ratings,6,"CREATE TABLE ""movie_ratings"" (\n""movie_id"" TEX..."
5,table,persons,persons,7,"CREATE TABLE ""persons"" (\n""person_id"" TEXT,\n ..."
6,table,principals,principals,8,"CREATE TABLE ""principals"" (\n""movie_id"" TEXT,\..."
7,table,writers,writers,9,"CREATE TABLE ""writers"" (\n""movie_id"" TEXT,\n ..."
8,table,Revenue,Revenue,41369,"CREATE TABLE ""Revenue"" (\n""title"" TEXT,\n ""st..."

In [13]:
query5 = """
SELECT *
FROM Revenue
"""

pd.read_sql_query(query5, conn)

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,None,2018
3383,Edward II (2018 re-release),FM,4800.0,None,2018
3384,El Pacto,Sony,2500.0,None,2018
3385,The Swan,Synergetic,2400.0,None,2018
3386,An Actor Prepares,Grav.,1700.0,None,2018

In [17]:
query6 = """ 
SELECT mb.movie_id, r.title, mb.original_title,r.year, mb.runtime_minutes,mb.genres, r.studio, r.domestic_gross, r.foreign_gross, mr.averagerating, mr.numvotes
FROM movie_basics AS mb
JOIN Revenue AS r
ON mb.primary_title = r.title
JOIN movie_ratings AS mr
ON mb.movie_id =  mr.movie_id
"""
pd.read_sql_query(query6, conn)

,movie_id,title,original_title,year,runtime_minutes,genres,studio,domestic_gross,foreign_gross,averagerating,numvotes
0,tt0315642,Wazir,Wazir,2016,103.0,"Action,Crime,Drama",Relbig.,1100000.0,None,7.1,15378
1,tt0337692,On the Road,On the Road,2012,124.0,"Adventure,Drama,Romance",IFC,744000.0,8000000,6.1,37886
2,tt0359950,The Secret Life of Walter Mitty,The Secret Life of Walter Mitty,2013,114.0,"Adventure,Comedy,Drama",Fox,58200000.0,129900000,7.3,275300
3,tt0365907,A Walk Among the Tombstones,A Walk Among the Tombstones,2014,114.0,"Action,Crime,Drama",Uni.,26300000.0,26900000,6.5,105116
4,tt0369610,Jurassic World,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi",Uni.,652300000.0,"1,019.4",7.0,539338
...,...,...,...,...,...,...,...,...,...,...,...
3022,tt9392532,Neighbors,Neighbors,2014,90.0,"Comedy,Drama",Uni.,150200000.0,120500000,7.6,18
3023,tt9447594,The Gambler,The Gambler,2014,121.0,"Action,Sci-Fi,Thriller",Par.,33700000.0,5600000,6.1,10
3024,tt9816988,Gold,Tala,2017,NaN,Drama,Wein.,7200000.0,7700000,5.2,26
3025,tt9851050,Sisters,Sisters,2015,NaN,"Action,Drama",Uni.,87000000.0,18000000,4.7,14
3026,tt9906218,Unstoppable,Unstoppable,2010,84.0,Documentary,Fox,81600000.0,86200000,8.1,8

In [19]:
df_data_extracted = pd.read_sql_query(query6, conn)

df_data_extracted.to_csv("Data_for_analysis.csv", index=False)

In [22]:
df1 = pd.read_csv("Data_for_analysis.csv")

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3027 entries, 0 to 3026
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   movie_id         3027 non-null   object
 1   title            3027 non-null   object
 2   original_title   3027 non-null   object
 3   year             3027 non-null   int64
 4   runtime_minutes  2980 non-null   float64
 5   genres           3020 non-null   object
 6   studio           3024 non-null   object
 7   domestic_gross   3005 non-null   float64
 8   foreign_gross    1832 non-null   object
 9   averagerating    3027 non-null   float64
 10  numvotes         3027 non-null   int64
dtypes: float64(3), int64(2), object(6)
memory usage: 260.3+ KB

In [31]:
df1["foreign_gross"] = (
    df1["foreign_gross"]
    .astype(str)                 # force everything to string
    .str.replace(",", "")        # remove commas
    .replace("nan", "0")         # replace string nan with 0
    .astype(float)               # convert to numeric
)

In [33]:
df1['foreign_gross'].value_counts()

0.0           1195
1200000.0       17
4200000.0       14
7700000.0       14
1100000.0       13
              ...
389000.0         1
84400000.0       1
17200000.0       1
53600.0          1
73400000.0       1
Name: foreign_gross, Length: 1007, dtype: int64

In [44]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3027 entries, 0 to 3026
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   movie_id         3027 non-null   object
 1   title            3027 non-null   object
 2   original_title   3027 non-null   object
 3   year             3027 non-null   int64
 4   runtime_minutes  3027 non-null   float64
 5   genres           3027 non-null   object
 6   studio           3027 non-null   object
 7   domestic_gross   3027 non-null   float64
 8   foreign_gross    3027 non-null   float64
 9   averagerating    3027 non-null   float64
 10  numvotes         3027 non-null   int64
dtypes: float64(4), int64(2), object(5)
memory usage: 260.3+ KB

In [ ]:
df1["runtime_minutes"] = df1["runtime_minutes"].fillna(df1["runtime_minutes"].mean())

In [37]:
# Check the mode of the genres column
genre_mode = df1['genres'].mode()[0]

# Fill missing values with the mode
df1['genres'].fillna(genre_mode, inplace=True)

In [41]:
# Check the mode of the studio column
studio_mode = df1['studio'].mode()[0]

# Fill missing values with the mode
df1['studio'].fillna(genre_mode, inplace=True)

In [43]:
df1["domestic_gross"] = (
    df1["domestic_gross"]
    .astype(str)                 # force everything to string
    .str.replace(",", "")        # remove commas
    .replace("nan", "0")         # replace string nan with 0
    .astype(float)               # convert to numeric
)